.button{
  max-width: 600px;
  background-color: var(--red-900);
  border: 0;
  padding: 0.5rem;
  color: var(--white);
  border-radius: 0.5rem;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
&:hover{
  filter: brightness(1.50);
}

&[disabled]{
  svg{
    cursor: not-allowed;
    animation: animate 2s infinite;
  }
}

}

.buttonText{
  color: var(--white);
}


@keyframes animate{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}